<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SojournInfoMapper">

    <resultMap type="SojournInfo" id="SojournInfoResult">
        <result property="sourjornId"    column="sourjorn_id"    />
        <result property="peopleId"    column="people_id"    />
        <result property="fromAncestors"    column="from_ancestors"    />
        <result property="toAncestors"    column="to_ancestors"    />
        <result property="recordTime"    column="record_time"    />
        <result property="toAddress"    column="to_address"    />
    </resultMap>

    <sql id="selectSojournInfoVo">
        select sourjorn_id, people_id, from_ancestors, to_ancestors, record_time, to_address from sojourn_table
    </sql>

    <select id="selectSojournInfoList" parameterType="SojournInfo" resultMap="SojournInfoResult">
        <include refid="selectSojournInfoVo"/>
        <where>
            <if test="peopleId != null  and peopleId != ''"> and people_id = #{peopleId}</if>
            <if test="fromAncestors != null  and fromAncestors != ''"> and from_ancestors = #{fromAncestors}</if>
            <if test="toAncestors != null  and toAncestors != ''"> and to_ancestors = #{toAncestors}</if>
            <if test="recordTime != null "> and record_time = #{recordTime}</if>
            <if test="toAddress != null  and toAddress != ''"> and to_address = #{toAddress}</if>
        </where>
    </select>

    <select id="selectSojournInfoListByPeopleId" parameterType="String" resultMap="SojournInfoResult">
        <include refid="selectSojournInfoVo"/>
        where people_id = #{peopleId}
    </select>

    <select id="selectSojournInfoBySourjornId" parameterType="Long" resultMap="SojournInfoResult">
        <include refid="selectSojournInfoVo"/>
        where sourjorn_id = #{sourjornId}
    </select>

    <insert id="insertSojournInfo" parameterType="SojournInfo">
        insert into sojourn_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sourjornId != null">sourjorn_id,</if>
            <if test="peopleId != null and peopleId != ''">people_id,</if>
            <if test="fromAncestors != null and fromAncestors != ''">from_ancestors,</if>
            <if test="toAncestors != null and toAncestors != ''">to_ancestors,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="toAddress != null and toAddress != ''">to_address,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sourjornId != null">#{sourjornId},</if>
            <if test="peopleId != null and peopleId != ''">#{peopleId},</if>
            <if test="fromAncestors != null and fromAncestors != ''">#{fromAncestors},</if>
            <if test="toAncestors != null and toAncestors != ''">#{toAncestors},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="toAddress != null and toAddress != ''">#{toAddress},</if>
        </trim>
    </insert>

    <update id="updateSojournInfo" parameterType="SojournInfo">
        update sojourn_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="peopleId != null and peopleId != ''">people_id = #{peopleId},</if>
            <if test="fromAncestors != null and fromAncestors != ''">from_ancestors = #{fromAncestors},</if>
            <if test="toAncestors != null and toAncestors != ''">to_ancestors = #{toAncestors},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="toAddress != null and toAddress != ''">to_address = #{toAddress},</if>
        </trim>
        where sourjorn_id = #{sourjornId}
    </update>

    <delete id="deleteSojournInfoBySourjornId" parameterType="Long">
        delete from sojourn_table where sourjorn_id = #{sourjornId}
    </delete>

    <delete id="deleteSojournInfoBySourjornIds" parameterType="String">
        delete from sojourn_table where sourjorn_id in
        <foreach item="sourjornId" collection="array" open="(" separator="," close=")">
            #{sourjornId}
        </foreach>
    </delete>
</mapper>